/* Fondo general y fuente */
body {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    margin: 20px;
    color: black;
}

/* Títulos principales */
h1 {
    color: #c00606;
    font-size: 28px;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

/* Subtítulos */
h2 {
    color: rgb(18, 148, 24);
    font-size: 22px;
    margin-top: 20px;
}

/* Enlaces */
a {
    color: #b01c8b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Listas */
ul {
    list-style-type: circle;
    margin-left: 20px;
}

/* Separación visual */
hr {
    margin-top: 20px;
    border: 1px solid rgb(132, 0, 255);
}